{{- if eq .Type "alert" -}}

    {{- $type := .AlertType | default "note" -}}
    {{- $iconMap := dict "note" "pencil" -}}
    {{- $iconMap  = dict "info" "circle-info" | merge $iconMap -}}
    {{- $iconMap  = dict "tip" "lightbulb" | merge $iconMap -}}
    {{- $iconMap  = dict "warning" "triangle-exclamation" | merge $iconMap -}}
    {{- $iconMap  = dict "danger" "triangle-exclamation" | merge $iconMap -}}

    {{- $titleMap := dict "note" "Note" -}}
    {{- $titleMap  = dict "info" "Info" | merge $titleMap -}}
    {{- $titleMap  = dict "tip" "Tip" | merge $titleMap -}}
    {{- $titleMap  = dict "warning" "Warning" | merge $titleMap -}}
    {{- $titleMap  = dict "danger" "Danger" | merge $titleMap -}}

    {{- $icon := index $iconMap $type | default (index $iconMap "note") -}}
    {{- $title := .AlertTitle | default (index $titleMap $type) -}}

    <div class="rounded-md admonition admonition-{{ $type }}">
        <div class="py-1 px-1 flex admonition-title">
            <span class="px-2 flex items-center">{{ partial "icon.html" $icon }}</span>
            {{ $title }}
        </div>
        <div class="py-2 admonition-content prose dark:text-neutral-100">
            {{ .Text }}
        </div>
    </div>

{{- else -}}

    <blockquote>
        {{ .Text }}
    </blockquote>

{{- end -}}
