/** https://github.com/dillonzq/LoveIt/blob/master/layouts/shortcodes/admonition.html */
// ========== admonition ========== //
// Color list of admonition [$type $color $background-color, ... ]
$admonition-color-list:
  "note" #448aff rgba(68, 138, 255, 0.1),
  "info" #00b8d4 rgba(83, 211, 230, 0.1),
  "tip" #00bfa5 rgba(0, 191, 165, 0.1),
  "warning" #ff9100 rgba(255, 145, 0, 0.1),
  "danger" #ff1744 rgba(255, 82, 82, 0.1),
  !default;
// ========== admonition ========== //

.admonition {
  position: relative;
  margin: 1rem 0;
  padding: 0 0.75rem;
  border-left: 0.25rem solid;
  overflow: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);

  .admonition-title {
    font-weight: bold;
    margin: 0 -0.75rem;
  }

  @each $type, $color, $background-color in $admonition-color-list {
    &-#{$type} {
    background-color: $background-color;
    border-left-color: $color;

    .admonition-title {
        border-bottom-color: $background-color;
        background-color: opacify($background-color, 0.15);
    }

    .flex .icon {
        color: $color;
    }
    }
  }

  &:last-child {
    margin-bottom: .75rem;
  }
}
